<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Document</title>
    </head>
      <body>
        <div class="mikecontainer">
          <p>FORM FOR A COMPANY TO CREATE A NonProfit</p>
            <%= form_for @nonprofit do |f| %>
              </br>
              <p>Business name</p>
              <%= f.text_field :business_name %>
              </br>
              <%= f.submit "submit" %>
            <% end %>
        </div>
      </body>
  </html>
